// Esquema de colores
//Primer esquema de color
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;
//Segundo esquema de colores
$carmine-pink: #e94f37;
$Salmon: #ef7f6d;
$spanish-pink: #f7bfb6;
//Tercer esquema de colores
$black-olive: #393e41;
$granite-gray: #5d6163;
$old-silver: #818486;
//Cuarto esquema colores
$verdigris: #44bba4;
$medium-aquamarine: #66c7b4;
$perl-aqua: #88d3c5;

//Tipografia
$playfair: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;

//Peso de fuentes
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Tamaños de fuentes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
